<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">Classes Composition</div>
        <div class="card-body text-dark">
            <div class="row">
                <div class="col-md-6 col-sm-12 text-center my-3">
                    <div class="touch">
                        <button class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse"
                            data-target="#createClass" [disabled]="modified">
                            Create Class
                        </button>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-center my-3">
                    <div class="touch">
                        <button (click)="loadFreeStudents()" class="btn btn-outline-primary btn-lg btn-block"
                            [disabled]="modified" data-toggle="collapse" data-target="#editClass">
                            Edit Class composition
                        </button>
                    </div>
                </div>
            </div>
            <div id="parent">
                <div class="card border-custom-01 mt-5 collapse" id="createClass" data-parent="#parent">
                    <div class="card-header text-white text-center bg-custom-01">Create Class</div>
                    <div class="card-body text-dark">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="1">Class number:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <select id="56" [(ngModel)]="classToCreate" class="custom-select d-block w-100 ">
                                    <option hidden [ngValue]="undefined">Select a class number</option>
                                    <option *ngFor="let i of [1,2,3,4,5]" [ngValue]="i">{{i}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-block" (click)="createClass()"
                                    [disabled]="!classToCreate">
                                    CREATE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-custom-01 mt-5 collapse" id="editClass" data-parent="#parent">
                    <div class="card-header text-white text-center bg-custom-01">Edit Class</div>
                    <div class="card-body text-dark">

                        <div class="row">
                            <div class="col-md-6 my-3">
                                <button class="btn btn-success btn-lg btn-block mb-1"
                                    onclick="document.getElementById('hidden-input').value = null;document.getElementById('hidden-input').click();">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Load class composition from Excel
                                </button>
                                <input type="file" id="hidden-input" (change)="useExcel($event.target.files.item(0))"
                                    style="display: none;" />

                            </div>
                            <div class="col-md-6 my-3">
                                <button class="btn btn-primary btn-lg btn-block mb-1" (click)="downloadTemplate()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    Download Excel template
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 my-3">
                                <div class="card border-custom-01 text-center">
                                    <div class="card-header text-white bg-custom-01">FREE</div>
                                    <div class="card-body p-0">
                                        <ul class="list-group">
                                            <li *ngFor="let student of studentsFree"
                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                <span>{{student.id}} {{student.surname}} {{student.name}}</span>
                                                <button class="btn btn-primary glyphicon glyphicon-arrow-right"
                                                    [disabled]="!selectedClass" (click)="addStudent(student)"></button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 my-3">
                                <div class="card border-custom-01 text-center">
                                    <div class="card-header text-white bg-custom-01">
                                        <select [(ngModel)]="selectedClass"
                                            class="custom-select text-white bg-custom-01 d-block w-100" id="1"
                                            (change)="loadStudentsInClass()" (click)="controlModified()"
                                            [disabled]="modified">
                                            <option hidden [ngValue]="null">Select a class</option>
                                            <option *ngFor="let class of classes" [ngValue]="class">{{class.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="card-body p-0">
                                        <ul class="list-group">
                                            <li *ngFor="let student of studentsInClass"
                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                <button class="btn btn-primary glyphicon glyphicon-arrow-left"
                                                    (click)="removeStudent(student)"></button>
                                                <span>{{student.id}} {{student.surname}} {{student.name}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 offset-md-6 mt-3">
                                <button class="btn btn-secondary btn-block mb-1" (click)="cancel()">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    CANCEL
                                </button>
                            </div>
                            <div class="col-md-3 mt-3">
                                <button class="btn btn-success btn-block mb-1" (click)="updateClass()"
                                    [disabled]="!selectedClass">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    CONFIRM
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<app-modal (onConfirm)="doConfirm()"></app-modal>