<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="row justify-content-center">
        <form class="col-xl-4 col-lg-6 col-md-8 col-sm-12" (ngSubmit)="changePassword()">
            <div class="card">
                <div class="card-body">
                    <div class="text-center my-3">
                        <img src="assets/icona.png" height="128" width="128">
                    </div>
                    

                      
<label>New password</label>
<input type="password" class="form-control mb-2" name="newPassword1" required [(ngModel)]="newPassword1" #pass1="ngModel" placeholder="insert new password">
<div [hidden]="pass1.valid || pass1.pristine" class="alert alert-danger"> insert new password </div>

<label>Repeat new password</label>
<input type="password" class="form-control mb-2" name="newPassword2" required [(ngModel)]="newPassword2" #pass2="ngModel" placeholder="repeat new password">
<div [hidden]="newPassword1==newPassword2" class="alert alert-danger"> passwords do not match </div>

                <button class="btn btn-primary btn-block mt-3"  [disabled]="!pass1.valid || newPassword1!=newPassword2" type="submit">
                    <span class="glyphicon glyphicon-log-in"></span>
                        SAVE
                </button>
                </div>
            </div>
        </form>
        
    </div>
</ng-template>