<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>

    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">SELECT A SERVICE</div>
        <div class="card-body text-dark">
            <div class="row">
                <div class="col-md-6 text-center mb-3">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse"
                                data-target="#viewProspective" (click)="resetSelectedData()">View/Edit
                                Assignments</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-6 text-center mb-3">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse"
                                data-target="#insertProspective" (click)="resetSelectedData()">Insert
                                Assignments</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion">
        <div class="card border-custom-01 mt-5 collapse" id="viewProspective" data-parent="#accordion">
            <div class="card-header text-white bg-custom-01">VIEW ASSIGNMENTS</div>
            <div class="card-body text-dark">
                <div class="row mt-2 mb-2">
                    <div class="col-md-6">
                        <label>Class</label>
                        <div *ngIf="!loadedClasses; else classesLoadedTag">
                            <loader-small></loader-small>
                        </div>
                        <ng-template #classesLoadedTag>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedClass"
                                (change)="loadSubjects()">
                                <option hidden [ngValue]="null">Select a class</option>
                                <option *ngFor="let class of classes" [ngValue]="class">{{class.name}}</option>
                            </select>
                        </ng-template>
                    </div>
                    <div class="col-md-6">
                        <label>Subject</label>
                        <div *ngIf="!loadedSubjects; else selectSubjects2">
                            <loader-small></loader-small>
                        </div>
                        <ng-template #selectSubjects2>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedSubject"
                                [disabled]="!selectedClass" (change)="loadAssignmentsData()">
                                <option hidden [ngValue]="null">Select a subject</option>
                                <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}</option>
                            </select>
                        </ng-template>
                    </div>
                </div>

                <ng-container *ngIf="selectedSubject">
                    <div class="row mt-2 mb-2">
                        <div class="col-md-12" *ngIf="!loadedAssignments">
                            <loader-main></loader-main>
                        </div>
                        <div class="col-md-12" *ngIf="loadedAssignments">
                            <my-table [data]="assignmentsData" [settings]="assignmentsSettings"
                                (onEdit)="updateAssignment($event)" (onDelete)="deleteAssignment($event)"
                                (onInfo)="loadAttachmentsData($event)"></my-table>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="selectedAssignment">
                    <div class="row mt-2 mb-2">
                        <div class="col-md-12" *ngIf="!loadAttachments">
                            <loader-main></loader-main>
                        </div>
                        <div class="col-md-12" *ngIf="loadAttachments">
                            <div class="card border-custom-01">
                                <div class="card-header text-white bg-custom-01">
                                    Attachments for selected assignment
                                    <button class="btn btn-success glyphicon glyphicon-plus float-right"
                                        onclick="document.getElementById('hidden-input').click();"></button>
                                </div>
                                <div class="card-body p-0">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center"
                                            *ngFor="let attachment of attachmentsData">
                                            <span> {{attachment.fileName}}</span>
                                            <div class="row float-right">
                                                <button class="btn btn-primary glyphicon glyphicon-download-alt m-1"
                                                    (click)="downloadAttachment(attachment)"></button>
                                                <button class="btn btn-danger glyphicon glyphicon glyphicon-trash m-1"
                                                    (click)="deleteAttachment(attachment)"></button>
                                            </div>
                                        </li>
                                    </ul>
                                    <div *ngIf="attachmentsData.length == 0" class="text-center">
                                        <span>
                                            No attachments found
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>


        <div class="card border-custom-01 mt-5 collapse" id="insertProspective" data-parent="#accordion">
            <div class="card-header text-white bg-custom-01">INSERT ASSIGNMENTS</div>
            <div class="card-body text-dark">
                <div class="row mt-2 mb-2">
                    <div class="col-md-6">
                        <label>Class</label>
                        <div *ngIf="!loadedClasses; else classesLoadedTag">
                            <loader-small></loader-small>
                        </div>
                        <ng-template #classesLoadedTag>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedClass"
                                (change)="loadSubjects()">
                                <option hidden [ngValue]="null">Select a class</option>
                                <option *ngFor="let class of classes" [ngValue]="class">{{class.name}}</option>
                            </select>
                        </ng-template>
                    </div>
                    <div class="col-md-6">
                        <label>Subject</label>
                        <div *ngIf="!loadedSubjects; else selectSubjects2">
                            <loader-small></loader-small>
                        </div>
                        <ng-template #selectSubjects2>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedSubject"
                                [disabled]="!selectedClass" (change)="loadAssignmentsData()">
                                <option hidden [ngValue]="null">Select a subject</option>
                                <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}</option>
                            </select>
                        </ng-template>
                    </div>
                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-md-6">
                        <label>Date</label>
                        <input type="date" class="form-control" placeholder="Assignment date" [(ngModel)]="selectedDate"
                            min="{{today | date:'yyyy-MM-dd'}}">
                    </div>
                    <div class="col-md-6">
                        <label>Description</label>
                        <input type="text" class="form-control" placeholder="Insert a description"
                            [(ngModel)]="description">
                    </div>

                </div>

                <ng-container *ngIf="selectedClass && selectedDate && selectedSubject">
                    <div class="row my-2">
                        <div class="col-md-3 mt-3">
                            <button class="btn btn-secondary btn-block mb-1" (click)="cancel()">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                CANCEL
                            </button>
                        </div>
                        <div class="col-md-3 ml-md-auto mt-3">
                            <button class="btn btn-success btn-block mb-1" (click)="confirmNewAssignment()">
                                <span class="glyphicon glyphicon-ok"></span>
                                CONFIRM
                            </button>
                        </div>
                    </div>

                    <div *ngIf="canUpload" class="row mt-4 mb-2">
                        <div class="col-md-12">
                            <div class="card border-custom-01">
                                <div class="card-header text-white bg-custom-01">
                                    Attachment Files
                                    <button class="btn btn-success glyphicon glyphicon-plus float-right"
                                        onclick="document.getElementById('hidden-input').click();"></button>
                                </div>
                                <div class="card-body p-0" *ngIf="newfileName">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span>{{newfileName}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>

        <input type="file" id="hidden-input" (change)="uploadAttachment($event.target.files)" style="display: none;" />
    </div>
</ng-template>