<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">
            <h2 class="text-center">Register parents</h2>
        </div>
        <div class="card-body text-dark">
            <div class="row">
                <div class="container col-md-6">
                    <h4 class="container col-md-0">Parent1</h4>
                    <div class="input-group row col-md-12 mx-auto text-center d-flex justify-content-center mt-3">
                        <input type="text" id="p1fiscalid" class="form-control" placeholder="Fiscal ID"
                            [(ngModel)]="p1.fiscalCode" autofocus pattern=".{16}"
                            title="The fiscal Code is 16 characters long" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" (click)="checkP1()">check</button>
                        </div>
                    </div>
                    <!---->
                    <div *ngIf="exist1">
                        <p class="text-success">The parent already exists <span class="glyphicon glyphicon-ok"></span>
                        </p>
                    </div>
                    <div *ngIf="isShow1">
                        <div class="row col-md-12 mx-auto text-center d-flex justify-content-center mt-2">
                            <input type="text" id="p1Name" class="form-control" placeholder="Name" [(ngModel)]="p1.name"
                                pattern=".*\S.*" required>
                        </div>
                        <div class="row col-md-12 mx-auto text-center d-flex justify-content-center mt-2">
                            <input type="text" id="p1Surname" class="form-control" placeholder="Surname"
                                [(ngModel)]="p1.surname" pattern=".*\S.*" required>
                        </div>
                        <div class="row container col-md-0 mt-2">
                            <label class="col-md-4"> Gender: </label>
                            <div class="radio col-md-3">
                                <label><input type="radio" name="optradio1" value="M" [(ngModel)]="p1.gender"
                                        checked>Male</label>
                            </div>
                            <div class="radio col-md-4">
                                <label><input type="radio" name="optradio1" value="F"
                                        [(ngModel)]="p1.gender">Female</label>
                            </div>
                        </div>
                        <div class="row container col-md-0 mt-2">
                            <label class="col-md-5 mt-2"> Birth date: </label>
                            <div class="row col-md-7 mx-auto text-center d-flex justify-content-center mt-2">
                                <input type="date" id="p1bdate" class="form-control" placeholder="Birth date"
                                    [(ngModel)]="p1.birthdate" pattern="\d{1,2}\/\d{1,2}\/\d{4}" required>
                            </div>
                        </div>
                        <div class="row container col-md-0 mt-2">
                            <label class="col-md-5 mt-1"> Telephone number: </label>
                            <div class="row col-md-7 mx-auto text-center d-flex justify-content-center mt-2">
                                <input type="tel" id="p1tnumber" class="form-control" placeholder="Telephone number"
                                    [(ngModel)]="p1.telephoneN" pattern="\d{7,12}" required>
                            </div>
                        </div>
                        <div class="row container col-md-0 mt-2">
                            <label class="col-md-5 mt-1"> Email: </label>
                            <div class="row col-md-7 mx-auto text-center d-flex justify-content-center mt-2">
                                <input type="email" id="p1email" class="form-control" placeholder="Email"
                                    [(ngModel)]="p1.email"
                                    pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
                                    required>
                            </div>
                        </div>
                    </div>
                    <!---->
                </div>
                <div class="container col-md-6">
                    <div class="row">
                        <h4 class=" col-md-4 ml-3">Parent2</h4>
                        <button class="btn btn-success glyphicon glyphicon-plus btn-block col-md-2"
                            (click)="editClick()">
                        </button>
                    </div>
                    <div *ngIf="p2Edit">
                        <div class="input-group row col-md-12 mx-auto text-center d-flex justify-content-center mt-2">
                            <input type="text" id="p2fiscalid" class="form-control" placeholder="Fiscal ID"
                                [(ngModel)]="p2.fiscalCode" pattern=".{16}"
                                title="The fiscal Code is 16 characters long" required>

                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                    (click)="checkP2()">check</button>
                            </div>
                        </div>
                        <div *ngIf="exist2">
                            <p class="text-success">The parent already exists <span
                                    class="glyphicon glyphicon-ok"></span>
                            </p>
                        </div>
                        <div *ngIf="isShow2">
                            <div class="row col-md-12 mx-auto text-center d-flex justify-content-center mt-2">
                                <input type="text" id="p2Name" class="form-control" placeholder="Name"
                                    [(ngModel)]="p2.name" pattern=".*\S.*" required>

                            </div>
                            <div class="row col-md-12 mx-auto text-center d-flex justify-content-center mt-2">
                                <input type="text" id="p2Surname" class="form-control" placeholder="Surname"
                                    [(ngModel)]="p2.surname" pattern=".*\S.*" required>

                            </div>
                            <div class="row container col-md-0 mt-2">
                                <label class="col-md-4"> Gender: </label>
                                <div class=" col-md-3 form-check">
                                    <label><input type="radio" name="optradio2" [(ngModel)]="p2.gender"
                                            value="M">Male</label>
                                </div>
                                <div class="radio col-md-3">

                                    <label><input type="radio" [(ngModel)]="p2.gender" value="F"
                                            name="optradio2">Female</label>
                                </div>
                            </div>
                            <div class="row container col-md-0 mt-2">
                                <label class="col-md-5 mt-2"> Birth date: </label>
                                <div class="row col-md-7 mx-auto text-center d-flex justify-content-center mt-2">
                                    <input type="date" id="p2bdate" class="form-control" placeholder="Birth date"
                                        [(ngModel)]="p2.birthdate" pattern="\d{1,2}\/\d{1,2}\/\d{4}" required>

                                </div>
                            </div>
                            <div class="row container col-md-0 mt-2">
                                <label class="col-md-5 mt-1"> Telephone number: </label>
                                <div class="row col-md-7 mx-auto text-center d-flex justify-content-center mt-2">
                                    <input type="tel" id="p2tnumber" class="form-control" placeholder="Telephone number"
                                        [(ngModel)]="p2.telephoneN" pattern="\d{7,12}" required>

                                </div>
                            </div>
                            <div class="row container col-md-0 mt-2">
                                <label class="col-md-5 mt-1"> Email: </label>
                                <div class="row col-md-7 mx-auto text-center d-flex justify-content-center mt-2">
                                    <input type="email" id="p2email" class="form-control" placeholder="Email"
                                        [(ngModel)]="p2.email"
                                        pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
                                        required>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                </div> <br><br>
            </div>
            <div class="row">
                <div class="container col-md-8 mt-5 col-sm-12">
                    <h4 class="container col-md-0">Student</h4>
                    <div class="row input-group row col-md-12 mx-auto text-center d-flex justify-content-center mt-2">
                        <input type="text" id="sfiscalid" class="form-control" placeholder="Fiscal ID"
                            [(ngModel)]="s.fiscalCode" pattern=".{16}" title="The fiscal Code is 16 characters long"
                            required>

                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" (click)="checkS()">check</button>
                        </div>
                    </div>
                    <div *ngIf="exist3">
                        <p class="text-success">The student already exists <span class="glyphicon glyphicon-ok"></span>
                        </p>
                    </div>
                    <div *ngIf="isShow3">
                        <div class="row col-md-12 mx-auto text-center d-flex justify-content-center mt-2">
                            <input type="text" id="studentName" class="form-control" placeholder="Name"
                                [(ngModel)]="s.name" pattern=".*\S.*" required>

                        </div>
                        <div class="row col-md-12 mx-auto text-center d-flex justify-content-center mt-2">
                            <input type="text" id="studentSurname" class="form-control" placeholder="Surname"
                                [(ngModel)]="s.surname" pattern=".*\S.*" required>

                        </div>
                        <div class="row container col-md-0 mt-2">
                            <label class="col-md-4"> Gender: </label>
                            <div class="radio col-md-3">
                                <label><input type="radio" name="optradio3" [(ngModel)]="s.gender" value="M"
                                        checked>Male</label>
                            </div>
                            <div class="radio col-md-4">
                                <label><input type="radio" name="optradio3" [(ngModel)]="s.gender"
                                        value="F">Female</label>
                            </div>
                        </div>
                        <div class="row container col-md-0 mt-2">
                            <label class="col-md-4 mt-2"> Birth date: </label>
                            <div class="row col-md-8 mx-auto text-center d-flex justify-content-center mt-2">
                                <input type="date" id="studentbdate" class="form-control" placeholder="Birth date"
                                    [(ngModel)]="s.birthdate" pattern="\d{1,2}\/\d{1,2}\/\d{4}" required>
                            </div>
                        </div>
                        <div class="row col-md-12 mx-auto text-center d-flex justify-content-center mt-2">
                            <label class="col-md-4 mt-2"> Entry level: </label>
                            <input type="text" id="studentEntryLevel" class="form-control" placeholder="Entry level"
                                [(ngModel)]="s.entryLevel" pattern=".*\S.*" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="container d-flex justify-content-center">
                    <button type="submit" (click)="saveButton()" [disabled]="(!checked1 || !checked3) || (p1.fiscalCode == p2.fiscalCode 
                     || p1.fiscalCode == s.fiscalCode || s.fiscalCode == p2.fiscalCode) ||
                     (
                        (!exist1 && (p1.fiscalCode == '' || p1.name == '' || p1.surname == ''
                        || p1.email == '' || p1.gender == ''|| p1.birthdate == null))
                        ||
                        (exist1 && (p1.fiscalCode == ''))
                        ||
                        (!exist3 && (s.fiscalCode == '' || s.name == '' || s.surname == '' 
                        || s.gender == '' || s.birthdate == null))
                        ||
                        (exist3 && (s.fiscalCode == ''))
                     )" class="col-md-4 btn btn-primary btn-lg d-flex justify-content-center m-2 btn-block">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>