<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="row justify-content-center">
        <form class="col-xl-4 col-lg-6 col-md-8 col-sm-12" (ngSubmit)="login()">
            <div class="card">
                <div class="card-body">
                    <div class="text-center my-3">
                        <img src="assets/icona.png" height="128" width=auto>
                    </div>
                    <label for="username">Email address</label>
                    <input type="text" class="form-control mb-1" id="username" placeholder="Username"
                        [(ngModel)]="username"  [ngModelOptions]="{standalone: true}">
                    <label for="password">Password</label>
                    <input type="password" class="form-control mb-1" id="password" placeholder="Password"
                        [(ngModel)]="password"  [ngModelOptions]="{standalone: true}">
                    <label for="role">Role</label>
                    <div class="btn-group col-lg-12 p-0 mb-1" id="role" role="group">
                            <input type="button" [ngClass]="roleButton[0] ? 'btn btn-primary active' : 'btn btn-secondary'" value="Teacher" (click)="roleButton.fill(false);roleButton[0]=true;role='TEACHER'">
                            <input type="button" [ngClass]="roleButton[1] ? 'btn btn-primary active' : 'btn btn-secondary'" value="Parent" (click)="roleButton.fill(false);roleButton[1]=true;role='PARENT'">
                            <input type="button" [ngClass]="roleButton[2] ? 'btn btn-primary active' : 'btn btn-secondary'" value="Administrator" (click)="roleButton.fill(false);roleButton[2]=true;role='ADMINISTRATOR'">
                    </div>
                    <button class="btn btn-primary btn-block mt-3"  [disabled]="!password||!username||!role" type="submit">
                        <span class="glyphicon glyphicon-log-in"></span>
                        LOGIN
                    </button>
                </div>
            </div>
        </form>
        
    </div>
</ng-template>