<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">Manage timetables</div>
        <div class="card-body text-dark">
            <div class="row">
                <div class="col-md-6 col-sm-12 text-center mb-3 mt-3">
                    <div class="touch">
                        <button class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse"
                            data-target="#enterTimetable" (click)="cleanData()">
                            Load timetable
                        </button>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-center mb-3 mt-3">
                    <div class="touch">
                        <button class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse"
                            data-target="#viewTimetale" (click)="cleanData()">
                            View timetable
                        </button>
                    </div>
                </div>
            </div>
            <div id="parent">
                <div class="card border-custom-01 mt-5 collapse" id="enterTimetable" data-parent="#parent">

                    <div class="card-header text-white bg-custom-01">Load timetable for a class</div>

                    <div class="card-body text-dark">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 text-center my-3">
                                <select [(ngModel)]="selectedClassId" class="custom-select d-block w-100 ">
                                    <option hidden [ngValue]="null">Select a class</option>
                                    <option *ngFor="let c of classList" [ngValue]="c.id">{{c.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12 text-center my-3">
                                <button class="btn btn-success btn-lg btn-block"
                                    onclick="document.getElementById('hidden-input').value = null;document.getElementById('hidden-input').click();">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Load classes from Excel
                                </button>
                                <input type="file" id="hidden-input" (change)="useExcel($event.target.files.item(0))"
                                    style="display: none;" />
                            </div>
                            <div class="col-md-6 col-sm-12 text-center my-3">
                                <button class="btn btn-primary btn-lg btn-block" (click)="downloadTemplate()">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                    Download Excel template
                                </button>
                            </div>
                        </div>


                        <div class="row d-flex justify-content-center" *ngIf="timetableFlag">
                            <div class="col-md-12 my-3">
                                <timetable [data]="timetabledata"></timetable>
                            </div>
                        </div>
                    </div>

                    <div class="row mx-1" *ngIf="timetabledata">
                        <div class="col-md-3 offset-md-6 my-3">
                            <button class="btn btn-secondary btn-block mb-1" (click)="cancelNewTimetable()">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                CANCEL
                            </button>
                        </div>
                        <div class="col-md-3 my-3">
                            <button class="btn btn-success btn-block mb-1" (click)="saveNewTimetable()"
                            [disabled]="!selectedClassId">
                                <span class="glyphicon glyphicon-ok"></span>
                                CONFIRM
                            </button>
                        </div>
                    </div>

                </div>
                <div class="card border-custom-01 mt-5 collapse" id="viewTimetale" data-parent="#parent">
                    <div class="card-header text-white text-center bg-custom-01">View timetable</div>
                    <div class="card-body text-dark">

                        <div class="row">
                            <div class="col-md-6 col-sm-12 text-center my-3">
                                <select [(ngModel)]="teacherOrClassChoice" class="custom-select d-block w-100 "
                                    (change)="loadTeachersOrClasses()">
                                    <option hidden [ngValue]="null">Select class or teacher</option>
                                    <option value="class">Class</option>
                                    <option value="teacher">Teacher</option>
                                </select>
                            </div>


                            <div *ngIf="!loadedTeacherOrClassList; else teacherorClassLoaded">
                                <loader-small></loader-small>
                            </div>

                            <ng-template #teacherorClassLoaded>
                                <div class="col-md-6 col-sm-12 text-center my-3">
                                    <select [(ngModel)]="selectedTeacherOrClassId" [disabled]="!teacherOrClassChoice"
                                        class="custom-select d-block w-100 " (change)="loadTeacherOrClassTimetable()">
                                        <option *ngIf="teacherOrClassChoice" hidden [ngValue]="null">Select a
                                            {{teacherOrClassChoice}}</option>
                                        <option *ngFor="let teacherOrClass of teacherOrClassList"
                                            [ngValue]="teacherOrClass.id">{{teacherOrClass.name}}</option>
                                    </select>

                                </div>
                            </ng-template>

                        </div>

                        <div *ngIf="!timetabledataLoaded; else timetabledataLoadedTemplate">
                            <loader-main></loader-main>
                        </div>
                        <ng-template #timetabledataLoadedTemplate>
                            <div class="row d-flex justify-content-center" *ngIf="timetableFlag">
                                <div class="col-md-12 my-3">
                                    <timetable [data]="timetabledata"></timetable>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>