<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">
            Select the service
        </div>
        <div class="card-body text-dark">
            <service-box [services]="services" (onClick)="selectService($event)"></service-box>
        </div>
    </div>

    <div class="card border-custom-01 mt-5">
        <div class="card-header text-white bg-custom-01">GENERAL COMMUNICATIONS</div>
        <div class="card-body text-dark">

            <ng-container *ngIf="loadingTable; else table">
                <loader-main></loader-main>
            </ng-container>
            <ng-template #table>
                <my-table [data]="generalCommunications" [settings]="GCViewTableSettings"></my-table>
            </ng-template>
        </div>
    </div>
</ng-template>