<ng-container *ngIf="!settings || !data; else tableTemplate">
    Table's Settings/Data not found
</ng-container>

<ng-template #tableTemplate>
    <nav *ngIf="settings.hasPagination" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{'disabled' : !hasPrevious()}">
                <a class="page-link" (click)="goPrevious()">Previous</a>
            </li>
            <li *ngFor="let n of pages" class="page-item" [ngClass]="{'active' : n == currentPage}">
                <a class="page-link" (click)="goToPage(n)">{{n}}</a>
            </li>
            <li class="page-item" [ngClass]="{'disabled' : !hasNext()}">
                <a class="page-link" (click)="goNext()">Next</a>
            </li>
        </ul>
    </nav>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr class="table-custom-01 text-center">
                    <th *ngFor="let el of settings.columns"
                        (click)="el.isSortable? sortRowsByColumn(el.attributeName) : null"
                        [ngStyle]="{'cursor': (settings.hasSorting && el.isSortable)? 'pointer' : 'auto'}">
                        {{el.columnName}}
                        <span *ngIf="settings.hasSorting && el.isSortable" class="glyphicon"
                            [ngClass]="[getSortingIcon(el.attributeName)]"></span>
                    </th>
                    <th *ngIf="settings.hasInfo">INFO</th>
                    <th *ngIf="settings.hasEdit">EDIT</th>
                    <th *ngIf="settings.hasDelete">DELETE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of elementsToShow; let pageIndex = index" class="text-center">
                    <td *ngFor="let el of settings.columns">
                        <ng-container *ngIf="!el.isEditable && !el.isInsertable; else elseView">
                            {{row[el.attributeName]}}
                        </ng-container>
                        <ng-template #elseView>
                            <textarea type="text" [(ngModel)]="data[pageIndex + (currentPage - 1)*elementsPerPage][el.attributeName]" [readonly]="!el.isInsertable">{{row[el.attributeName]}}</textarea>
                        </ng-template>
                    </td>
                    <td *ngIf="settings.hasInfo">
                        <button class="btn btn-info glyphicon glyphicon-info-sign" (click)="doInfo(pageIndex)"></button>
                    </td>
                    <td *ngIf="settings.hasEdit">
                        <button class="btn btn-info glyphicon glyphicon-pencil" (click)="doEdit(pageIndex)"
                            [disabled]="row.isEditable == false"></button>
                    </td>
                    <td *ngIf="settings.hasDelete">
                        <button class="btn btn-danger glyphicon glyphicon-trash" (click)="doDelete(pageIndex)"
                            [disabled]="row.isDeletable == false"></button>
                    </td>
                </tr>
                <ng-container *ngIf="data.length == 0">
                    <tr class="text-center">
                        <td
                            [attr.colspan]="settings.columns.length + (settings.hasEdit? 1 : 0) + (settings.hasDelete? 1 : 0)">
                            No data found
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div *ngIf="settings.hasInsertion" class="row mt-3 justify-content-end">
        <div class="col-md-3">
            <button class="btn btn-success btn-block mb-2" (click)="doSaveInsertion()">
                <span class="glyphicon glyphicon-ok"></span>
                SAVE
            </button>
        </div>
    </div>
</ng-template>

<ng-container *ngIf="isEditing">
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">Update fields</div>
        <div class="card-body">
            <div class="row">
                <ng-container *ngFor="let el of settings.columns; let ind = index">
                    <ng-container *ngIf="el.isEditable">
                        <div class="col-md-3 d-md-inline-block mb-sm-2 mw-100">
                            <label for="col_{{ind}}" class="d-md-block pr-sm-2">{{el.columnName}}</label>
                            <textarea type="text" id="col_{{ind}}"
                                [(ngModel)]="dataToEdit[el.attributeName]"></textarea>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <button class="btn btn-secondary btn-block mb-2" (click)="doCancelUpdate()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        CANCEL
                    </button>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <button class="btn btn-success btn-block mb-2" (click)="doConfirmUpdate()">
                        <span class="glyphicon glyphicon-ok"></span>
                        CONFIRM
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<app-modal (onConfirm)="doConfirmDelete($event)"></app-modal>