<div *ngIf="!loaded; else mainBlock">
  <loader-main></loader-main>
</div>
<ng-template #mainBlock>
  <div class="card border-custom-01">
    <div class="card-header text-white bg-custom-01">Assignments of {{student.name}} {{student.surname}}</div>
    <div class="card-body text-dark">
      <div *ngFor="let assignment of assignments; let i = index" class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <button class="btn btn-outline-primary btn-lg btn-block" (click)="hidden[i]=!hidden[i]">
            {{assignment.subject}} - Teacher : {{assignment.teacher}}
          </button>
          <div *ngIf="!hidden[i]">
            <div class="row d-flex justify-content-center mt-3">
              <div class="col-md-12">
                <my-table [data]="assignment.assignments" [settings]="assignmentSettings" (onInfo)="loadAttachments($event, assignment.assignments, i)"></my-table>
              </div>
              <div class="col-md-12 mb-5" *ngIf="loadedAttachments[i]">
                <div class="col-md-12 mt-3">
                    <div class="card border-custom-01">
                        <div class="card-header text-white bg-custom-01">Attachment for selected assignment</div>
                        <div class="card-body p-0">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let attachment of attachments[i]">
                                    <span>{{attachment.fileName}}</span>
                                    <button class="btn btn-primary glyphicon glyphicon-download-alt m-1"
                                    (click)="downloadAttachment(attachment)"></button>
                                </li>
                            </ul>
                            <div *ngIf="attachments[i].length == 0" class="text-center">
                              <span>
                                  No attachments found
                              </span>
                          </div>
                        </div>
                    </div>
                </div>
               </div>
            </div>            
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div *ngIf="assignments?.length == 0">
        <tr>
          <td colspan="3" class="no-data-available"></td>
        </tr>
      </div>
    </div>
  </div>
</ng-template>
