<div class="row">
    <div class="col-md-6 text-center mb-3" *ngFor="let service of services">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <button class="btn btn-outline-primary btn-lg btn-block"
                    (click)="selectService(service.redirectionPath)">{{service.serviceName}}</button>
            </div>
        </div>
    </div>
</div>