<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>

    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">SELECT A SERVICE</div>
        <div class="card-body text-dark">
            <div class="row">
                <div class="col-md-6 text-center mb-3">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse"
                                data-target="#viewGC" (click)="loadGC()">View/Edit general communications</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-6 text-center mb-3">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse"
                                data-target="#insertGC">Insert general communications</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion">

        <div class="card border-custom-01 mt-5 collapse" id="insertGC" data-parent="#accordion">
            <div class="card-header text-white bg-custom-01">INSERT GENERAL COMMUNICATIONS</div>
            <div class="card-body text-dark">
                    <div class="row my-2">
                        <div class="col-md-12">
                            <label>Description</label>
                            <textarea class="form-control" placeholder="Insert a general communication"
                                [(ngModel)]="newGC.description"></textarea>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-md-3 mt-3">
                            <button class="btn btn-secondary btn-block mb-1" (click)="cancelInsertedData()">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                CANCEL
                            </button>
                        </div>
                        <div class="col-md-3 ml-md-auto mt-3">
                            <button class="btn btn-success btn-block mb-1" (click)="insertCommunication()"
                                [disabled]="!newGC.description">
                                <span class="glyphicon glyphicon-ok"></span>
                                CONFIRM
                            </button>
                        </div>
                    </div>
            </div>
        </div>


        <div class="card border-custom-01 mt-5 collapse" id="viewGC" data-parent="#accordion">
            <div class="card-header text-white bg-custom-01">VIEW GENERAL COMMUNICATIONS</div>
            <div class="card-body text-dark">

                <ng-container *ngIf="loadingTable; else table">
                    <loader-main></loader-main>
                </ng-container>
                <ng-template #table>
                    <my-table *ngIf="showTable" [data]="generalCommunications" [settings]="GCViewTableSettings" (onEdit)="updateCommunication($event)"
                        (onDelete)="deleteCommunication($event)"></my-table>
                </ng-template>
            </div>
        </div>
    </div>



</ng-template>
