<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>

    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">SELECT A SERVICE</div>
        <div class="card-body text-dark">
            <div class="row">
                <div class="col-md-6 text-center mb-3">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse"
                                data-target="#viewGrades" (click)="resetSelectedData()">View/Edit Grades</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-6 text-center mb-3">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse"
                                data-target="#insertGrades" (click)="resetSelectedData()">Insert Grades</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion">
        <div class="card border-custom-01 mt-5 collapse" id="viewGrades" data-parent="#accordion">
            <div class="card-header text-white bg-custom-01">VIEW GRADES</div>
            <div class="card-body text-dark">
                <div class="row mt-2 mb-2">
                    <div class="col-md-6">
                        <label>Class</label>
                        <div *ngIf="!loadedClasses; else classesLoadedTag">
                            <loader-small></loader-small>
                        </div>
                        <ng-template #classesLoadedTag>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedClass"
                                (change)="loadSubjects()">
                                <option hidden [ngValue]="null">Select a class</option>
                                <option *ngFor="let class of classes" [ngValue]="class">{{class.name}}</option>
                            </select>
                        </ng-template>
                    </div>
                    <div class="col-md-6">
                        <label>Subject</label>
                        <div *ngIf="!loadedSubjects; else selectSubjects2">
                            <loader-small></loader-small>
                        </div>
                        <ng-template #selectSubjects2>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedSubject"
                                [disabled]="!selectedClass">
                                <option hidden [ngValue]="null">Select a subject</option>
                                <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}</option>
                            </select>
                        </ng-template>
                    </div>
                </div>

                <div class="row mt-5 mb-5" *ngIf="loadedStudents">
                    <div class="col-md-3 mt-5">
                        <div class="card border-custom-01">
                            <div class="card-header text-white bg-custom-01">STUDENTS</div>
                            <div class="card-body p-0">
                                <ul class="list-group">
                                    <li class="list-group-item p-0" *ngFor="let student of students">
                                        <button class="btn btn-light btn-block" (click)="loadStudentData(student)"
                                            [disabled]="!selectedSubject">
                                            {{student.name}} {{student.surname}}
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="selectedStudent">
                        <div class="col-md-9" *ngIf="!loadedStudentData">
                            <loader-main></loader-main>
                        </div>
                        <div class="col-md-9">
                            <my-table *ngIf="loadedStudentData" [data]="viewStudentGrades"
                                [settings]="viewGradesSettings" (onEdit)="updateGrade($event)"
                                (onDelete)="deleteGrade($event)"></my-table>
                        </div>
                    </ng-container>
                </div>

            </div>
        </div>

        <div class="card border-custom-01 mt-5 collapse" id="insertGrades" data-parent="#accordion">
            <div class="card-header text-white bg-custom-01">INSERT GRADES</div>
            <div class="card-body text-dark">
                <!--RIGA 4: select form-->
                <div class="row mt-2 mb-2">
                    <div class="col-md-6">
                        <label>Class</label>
                        <div *ngIf="!loadedClasses; else classesLoadedTag">
                            <loader-small></loader-small>
                        </div>
                        <ng-template #classesLoadedTag>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedClass"
                                (change)="loadSubjects()">
                                <option hidden [ngValue]="null">Select a class</option>
                                <option *ngFor="let class of classes" [ngValue]="class">{{class.name}}</option>
                            </select>
                        </ng-template>
                    </div>
                </div>

                <ng-container *ngIf="loadedStudents">

                    <div class="border bg-custom-01 my-5"></div>

                    <div class="row mt-2 mb-2">
                        <div class="col-md-6">
                            <label>Date</label>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedDate">
                                <option hidden [ngValue]="null">Select a date</option>
                                <option *ngFor="let date of validDates" [ngValue]="date">{{date}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Time slot</label>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectdTimeslot">
                                <option hidden [ngValue]="null">Select a time slot</option>
                                <option *ngFor="let i of [8,9,10,11,12,13,14]" [ngValue]="i">{{i}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-2 mb-2">
                        <div class="col-md-6">
                            <label>Description</label>
                            <input type="text" class="form-control" placeholder="Insert a description"
                                [(ngModel)]="description">
                        </div>

                        <div class="col-md-6">
                            <label>Subject</label>
                            <div *ngIf="!loadedSubjects; else selectSubjects">
                                <loader-small></loader-small>
                            </div>
                            <ng-template #selectSubjects>
                                <select class="custom-select d-block w-100" [(ngModel)]="selectedSubject">
                                    <option hidden [ngValue]="null">Select a subject</option>
                                    <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}
                                    </option>
                                </select>
                            </ng-template>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-12">
                            <my-table [data]="newGrades" [settings]="insertGradesSettings" 
                                (onInsert)="saveNewGrades($event)" *ngIf="!loadedStudentData">
                            </my-table>
                        </div>
                    </div>

                </ng-container>
            </div>
        </div>
    </div>

</ng-template>