<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">
            <h2 class="text-center">Add an account</h2>
        </div>
        <div class="card-body text-dark">
            <div class="row">
                <div class="container col-md-8 mt-5 col-sm-12">
                    <h4 class="container col-md-0 text-center mb-2">User</h4>
                    <div class="row input-group row col-md-12 mx-auto text-center d-flex justify-content-center mt-2">
                        <input type="text" id="ufiscalid" class="form-control" placeholder="Fiscal ID"
                            [(ngModel)]="u.fiscalCode" pattern=".{16}" title="The fiscal Code is 16 characters long"
                            required>
                    </div>

                    <div class="row col-md-12 mx-auto text-center d-flex justify-content-center mt-2">
                        <input type="text" id="uName" class="form-control" placeholder="Name" [(ngModel)]="u.name"
                            pattern=".*\S.*" required>

                    </div>
                    <div class="row col-md-12 mx-auto text-center d-flex justify-content-center mt-2">
                        <input type="text" id="uSurname" class="form-control" placeholder="Surname"
                            [(ngModel)]="u.surname" pattern=".*\S.*" required>

                    </div>
                    <div class="row col-md-12 mt-2">
                        <label class="col-md-4"> Gender: </label>
                        <div class="radio col-md-3">
                            <label><input type="radio" name="optradio3" [(ngModel)]="u.gender" value="M"
                                    checked>Male</label>
                        </div>
                        <div class="radio col-md-4">
                            <label><input type="radio" name="optradio3" [(ngModel)]="u.gender" value="F">Female</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-5 mt-2 ml-3"> Birth date: </label>
                        <div class="col-md-6 mx-auto text-center d-flex justify-content-right mt-2">
                            <input type="date" id="ubdate" class="form-control" placeholder="Birth date"
                                [(ngModel)]="u.birthdate" pattern="\d{1,2}\/\d{1,2}\/\d{4}" required>
                        </div>
                    </div>
                    <!--<div class="row col-md-12 mt-2">
                        <label class="col-md-5 mt-2"> Telephone number: </label>-->
                        <div class="row col-md-12 mx-auto text-center d-flex justify-content-center mt-2">
                            <input type="tel" id="unumber" class="form-control" placeholder="Telephone number"
                                [(ngModel)]="u.telephoneN" pattern="\d{10,12}" required>
                        </div>
                    <!--</div>-->
                    <!--<div class="row col-md-12 mt-2">
                        <label class="col-md-5 mt-2"> Email: </label>-->
                        <div class="row col-md-12 mx-auto text-center d-flex justify-content-center mt-2">
                            <input type="email" id="uemail" class="form-control" placeholder="Email"
                                [(ngModel)]="u.email"
                                pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?).*$"
                                required>
                        </div>
                    <!--</div>-->
                    <div class="row container col-md-0 mt-2">
                        <label for="role " class="col-md-5">Role: </label>
                        <div class="btn-group col-md-7 p-0 mb-1" id="role" role="group">
                            <input type="button"
                                [ngClass]="(u.role == 'TEACHER') ? 'btn btn-primary active' : 'btn btn-secondary'"
                                value="Teacher" (click)="selectRole('TEACHER')">
                            <input type="button"
                                [ngClass]="(u.role == 'ADMINISTRATOR') ? 'btn btn-primary active' : 'btn btn-secondary'"
                                value="Administrator"
                                (click)="selectRole('ADMINISTRATOR')">
                            <input type="button"
                                [ngClass]="(u.role == 'PRINCIPAL') ? 'btn btn-primary active' : 'btn btn-secondary'"
                                value="Principal" (click)="selectRole('PRINCIPAL')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="container d-flex justify-content-center">
                    <button type="submit" (click)="addAccount()" [disabled]="
                        u.fiscalCode == '' || u.name == '' || u.surname == ''
                        || u.email == '' || u.gender == ''|| u.birthdate == null
                        || u.telephoneN == ''
                        || !checkFiledsToEnableButton()" class="col-md-4 btn btn-primary btn-lg d-flex justify-content-center m-2 btn-block">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>