<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
  </div>
  <ng-template #mainBlock>
    <div class="card border-custom-01">
      <div class="card-header text-white bg-custom-01">Timetable of {{student.name}}  {{student.surname}} of class {{className}} </div>
      <div class="card-body text-dark">
        
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 my-3">
                <timetable [data]="timetableData"></timetable>
            </div>
        </div>
  
      </div>
    </div>
  </ng-template>