<div *ngIf="!loaded; else mainBlock">
  <loader-main></loader-main>
</div>
<ng-template #mainBlock>
  <div class="card border-custom-01">
    <div class="card-header text-white bg-custom-01">Attendancies of {{student.name}} {{student.surname}}</div>
    <div class="card-body text-dark">
      <!-- Absences -->
      <div class="row text-center d-flex justify-content-center">
        <div class="col-md-8 mt-3 text-center">
          <button class="btn btn-outline-primary btn-lg btn-block text-center" (click)="hidden1=!hidden1">
            {{"Absences"}} - Total : {{absenceArray.length}}
          </button>
          <div *ngIf="!hidden1">
            <div class="row d-flex justify-content-center mt-2">
              <div class="col-md-12">
                <my-table [data]="absenceArray" [settings]="attendanceAbsenceSettings"></my-table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Enters -->
      <div class="row text-center d-flex justify-content-center">
        <div class="col-md-8 mt-3">
          <button class="btn btn-outline-primary btn-lg btn-block" (click)="hidden2=!hidden2">
            {{"Delayed enters"}} - Total : {{enterArray.length}}
          </button>
          <div *ngIf="!hidden2">
            <div class="row d-flex justify-content-center mt-2">
              <div class="col-md-12">
                <my-table [data]="enterArray" [settings]="attendanceSettings"></my-table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Exits -->
      <div class="row text-center d-flex justify-content-center">
        <div class="col-md-8 mt-3">
          <button class="btn btn-outline-primary btn-lg btn-block" (click)="hidden3=!hidden3">
            {{"Early exits"}} - Total : {{exitArray.length}}
          </button>
          <div *ngIf="!hidden3">
            <div class="row d-flex justify-content-center mt-2">
              <div class="col-md-12">
                <my-table [data]="exitArray" [settings]="attendanceSettings"></my-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>