<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>

    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">SELECT A SERVICE</div>
        <div class="card-body text-dark">
            <div class="row">
                <div class="col-md-6 text-center mb-3">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse"
                                data-target="#viewTopics" (click)="setIsViewEditvalue(true)">View/Edit Topics</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-6 text-center mb-3">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse"
                                data-target="#insertTopics" (click)="setIsViewEditvalue(false)">Insert Topics</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion">

        <div class="card border-custom-01 mt-5 collapse" id="insertTopics" data-parent="#accordion">
            <div class="card-header text-white bg-custom-01">INSERT TOPICS</div>
            <div class="card-body text-dark">

                <div class="row mt-2 mb-2">
                    <div class="col-md-6">
                        <label>Class</label>
                        <div *ngIf="!loadedClasses; else viewClasses">
                            <loader-small></loader-small>
                        </div>
                        <ng-template #viewClasses>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedClass"
                                (change)="loadSubjects()">
                                <option hidden [ngValue]="null">Select a class</option>
                                <option *ngFor="let class of classes" [ngValue]="class">{{class.name}}</option>
                            </select>
                        </ng-template>
                    </div>
                    <div class="col-md-6">
                        <label>Subject</label>
                        <div *ngIf="!loadedSubjects; else viewSubjects">
                            <loader-small></loader-small>
                        </div>
                        <ng-template #viewSubjects>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedSubject"
                                (change)="loadLectures()" [disabled]="!selectedClass">
                                <option hidden [ngValue]="null">Select a subject</option>
                                <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}</option>
                            </select>
                        </ng-template>
                    </div>
                </div>

                <ng-container *ngIf="selectedSubject">

                    <div class="border bg-custom-01 my-5"></div>

                    <div class="row mt-2 mb-2">
                        <div class="col-md-6">
                            <label>Date</label>
                            <select class="custom-select d-block w-100" [(ngModel)]="newLecture.date">
                                <option hidden value="">Select a date</option>
                                <option *ngFor="let date of allowedDates" [ngValue]="date">{{date}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Time slot</label>
                            <select class="custom-select d-block w-100" [(ngModel)]="newLecture.timeSlot">
                                <option hidden value="null">Select a time slot</option>
                                <option *ngFor="let i of [8,9,10,11,12,13,14]" [ngValue]="i">{{i}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>Description</label>
                            <input type="text" class="form-control" placeholder="Insert a topic description"
                                [(ngModel)]="newLecture.description">
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-md-3 mt-3">
                            <button class="btn btn-secondary btn-block mb-1" (click)="cancelInsertedData()">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                CANCEL
                            </button>
                        </div>
                        <div class="col-md-3 ml-md-auto mt-3">
                            <button class="btn btn-success btn-block mb-1" (click)="insertLecture()"
                                [disabled]="!selectedClass">
                                <span class="glyphicon glyphicon-ok"></span>
                                CONFIRM
                            </button>
                        </div>
                    </div>

                </ng-container>
            </div>
        </div>


        <div class="card border-custom-01 mt-5 collapse" id="viewTopics" data-parent="#accordion">
            <div class="card-header text-white bg-custom-01">VIEW TOPICS</div>
            <div class="card-body text-dark">

                <div class="row mt-2 mb-4">
                    <div class="col-md-6">
                        <label>Class</label>

                        <div *ngIf="!loadedClasses; else classesLoadedTag">
                            <loader-small></loader-small>
                        </div>
                        <ng-template #classesLoadedTag>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedClass"
                                (change)="loadSubjects()">
                                <option hidden [ngValue]="null">Select a class</option>
                                <option *ngFor="let class of classes" [ngValue]="class">{{class.name}}</option>
                            </select>
                        </ng-template>


                    </div>
                    <div class="col-md-6">
                        <label>Subject</label>
                        <div *ngIf="!loadedSubjects; else viewSubjects">
                            <loader-small></loader-small>
                        </div>
                        <ng-template #viewSubjects>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedSubject"
                                (change)="loadLectures()" [disabled]="!selectedClass">
                                <option hidden [ngValue]="null">Select a subject</option>
                                <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}</option>
                            </select>
                        </ng-template>
                    </div>
                </div>

                <ng-container *ngIf="loadingTable; else table">
                    <loader-main></loader-main>
                </ng-container>
                <ng-template #table>
                    <my-table *ngIf="showTable" [data]="lectures" [settings]="lecturesViewTableSettings" (onEdit)="updateLecture($event)"
                        (onDelete)="deleteLecture($event)"></my-table>
                </ng-template>
            </div>
        </div>
    </div>



</ng-template>