/* You can add global styles to this file, and also import other style files */

@import "themes.scss";

html,
body {
  height: 100%;
  font-size: large;
}

body {
  background: #e0ffff;
}

message > div.fixed-top {
  top: 40px;
}
