<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">Choose the student</div>
        <div class="card-body text-dark">
            <div class="row">
                <div *ngFor="let student of students" class="col-md-6 text-center mb-3">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button class="btn btn-outline-primary btn-lg btn-block"
                                (click)="chooseChild(student)">{{student.name}} {{student.surname}}</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>