<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01 mt-5">
        <div class="card-header text-white bg-custom-01">VIEW SUPPORT MATERIAL</div>
        <div class="card-body text-dark">
            <div class="row mt-2 mb-2">
                <div class="col-md-6">
                    <label>Subject</label>
                    <select class="custom-select d-block w-100" [(ngModel)]="selectedSubject"
                         (change)="loadSupportMaterials()">
                        <option hidden [ngValue]="null">Select a subject</option>
                        <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}</option>
                    </select>
                </div>
            </div>

            <ng-container *ngIf="selectedSubject">
                <div class="row mt-5 mb-5">
                    <div class="col-md-12" *ngIf="!loadedSupportMaterial">
                        <loader-main></loader-main>
                    </div>
                    <div class="col-md-12" *ngIf="loadedSupportMaterial">
                        <div class="card border-custom-01">
                            <div class="card-header text-white bg-custom-01">
                                Support Material
                            </div>
                            <div class="card-body p-0">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center"
                                        *ngFor="let supportMaterial of supportMaterials">
                                        <span> {{supportMaterial.fileName}}</span>
                                        <div class="row float-right">
                                            <button class="btn btn-primary glyphicon glyphicon-download-alt m-1"
                                                (click)="downloadSupportMaterial(supportMaterial)"></button>
                                        </div>
                                    </li>
                                </ul>
                                <div *ngIf="supportMaterials.length == 0" class="text-center">
                                    <span>
                                        No support material found
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>

</ng-template>