<ng-container *ngIf="!data; else timetableTemplate">
   <div>

       Data not found
   </div>
</ng-container>

<ng-template #timetableTemplate>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr class="table-custom-01 text-center">
                    <th></th>
                    <th *ngFor="let day of days">
                        {{day}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of data; let i = index;" class="text-center">
                    <td>
                        {{workingHours[i]}}
                    </td>

                    <td *ngFor="let d of [row.monday, row.tuesday, row.wednesday, row.thursday, row.friday]" class="p-1 align-middle">
                        <div class="rounded m-0 text-white" [ngStyle]="{'background-color' : subjectColor[d]}">
                            {{d}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</ng-template>