<nav class="navbar navbar-expand-lg navbar-dark bg-custom-01 fixed-top">
  <div class="navbar-brand" (click)="easterEgg()">WELCOME {{(user)? user.name : ''}}</div>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show' : isCollapsed }" id="navbarHome">
    <ul *ngIf="user" class="navbar-nav mr-auto">
      <div>
        <li class="nav-item">
          <div class="nav-link" (click)="goToHome()">Home</div>
        </li>
      </div>

      <div *ngFor="let service of services; let i = index">
        <li class="nav-item">
          <div class="nav-link" (click)="goToAction(i)">{{service.serviceName}}</div>
        </li>
      </div>

      <!--li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" id="navbarDropdown2" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Service 2
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <div class="dropdown-item" (click)="goToAction(2, 1)">Action 1</div>
          <div class="dropdown-item" (click)="goToAction(2, 2)">Action 2</div>
          <div class="dropdown-item" (click)="goToAction(2, 3)">Action 3</div>
        </div>
      </li-->
    </ul>

    <ul *ngIf="user" class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" id="navbarAccount" role="button">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
        <div class="dropdown-menu dropdown-menu-right dropdown-primary mt-0 py-0" aria-labelledby="navbarAccount">
          <div class="dropdown-item" (click)="doLogout()">Logout</div>
          <div class="dropdown-item" (click)="doChangePassoword()">Change password</div>
        </div>
      </li>
    </ul>
  </div>
</nav>