<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>


        <div class="card border-custom-01 mt-5" >
            <div class="card-header text-white bg-custom-01">MANAGE SUPPORT MATERIAL</div>
            <div class="card-body text-dark">
                <div class="row mt-2 mb-2">
                    <div class="col-md-6">
                        <label>Class</label>
                        <div *ngIf="!loadedClasses; else classesLoadedTag">
                            <loader-small></loader-small>
                        </div>
                        <ng-template #classesLoadedTag>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedClass"
                                (change)="loadSubjects()">
                                <option hidden [ngValue]="null">Select a class</option>
                                <option *ngFor="let class of classes" [ngValue]="class">{{class.name}}</option>
                            </select>
                        </ng-template>
                    </div>
                    <div class="col-md-6">
                        <label>Subject</label>
                        <div *ngIf="!loadedSubjects; else selectSubjects2">
                            <loader-small></loader-small>
                        </div>
                        <ng-template #selectSubjects2>
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedSubject"
                                [disabled]="!selectedClass" (change)="loadSupportMaterials()">
                                <option hidden [ngValue]="null">Select a subject</option>
                                <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}</option>
                            </select>
                        </ng-template>
                    </div>
                </div>


                    <div class="row">
                        <div class="col-md-12" *ngIf="loadedSupportMaterial">
                            <div class="card border-custom-01 my-3">
                                <div class="card-header text-white bg-custom-01">
                                    Support Material
                                    <button class="btn btn-success glyphicon glyphicon-plus float-right"
                                        onclick="document.getElementById('hidden-input').click();"></button>
                                </div>
                                <div class="card-body p-0">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center"
                                            *ngFor="let supportMaterial of supportMaterials">
                                            <span> {{supportMaterial.fileName}}</span>
                                            <div class="row float-right">
                                                <button class="btn btn-primary glyphicon glyphicon-download-alt m-1"
                                                    (click)="downloadSupportMaterial(supportMaterial)"></button>
                                                <button class="btn btn-danger glyphicon glyphicon glyphicon-trash m-1"
                                                    (click)="deleteSupportMaterial(supportMaterial)"></button>
                                            </div>
                                        </li>
                                    </ul>
                                    <div *ngIf="supportMaterials.length == 0" class="text-center">
                                        <span>
                                            No support material found
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>

        <input type="file" id="hidden-input" (change)="uploadSupportMaterial($event.target.files)" style="display: none;" />
    </div>
</ng-template>