<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01 mt-5" id="assignTeacher">
        <div class="card-header text-white text-center bg-custom-01">Assign Teacher</div>
        <div class="card-body text-dark">
            <div class="row">
                <div class="col-md-6 col-sm-12 text-center mb-3 mt-3">
                    <select [(ngModel)]="selectedClass"
                                class="custom-select d-block w-100" id="1"
                                (change)="loadTeacherInClass()" (click)="controlModified()" [disabled]="modified">
                                <option hidden [ngValue]="null">Select a class</option>
                                <option *ngFor="let class of classes" [ngValue]="class">{{class.name}}
                                </option>
                            </select>
                </div>
                <div class="col-md-6 col-sm-12 text-center mb-3 mt-3">
                    <select [(ngModel)]="selectedSubject"
                                class="custom-select  d-block w-100" id="2"
                                (change)="loadFreeTeachers()" (click)="controlModified()" [disabled]="modified">
                                <option hidden [ngValue]="null">Select a subject</option>
                                <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}
                                </option>
                            </select>
                </div>
            </div>
            <div class="row" *ngIf="selectedClass && selectedSubject">
                <div class="col-md-6">
                    <div class="card border-custom-01 text-center">
                        <div class="card-header text-white bg-custom-01">FREE</div>
                        <div class="card-body p-0">
                            <ul class="list-group">
                                <li *ngFor="let teacher of teachersFree"
                                    class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>{{teacher.id}} {{teacher.surname}} {{teacher.name}}</span>
                                    <button class="btn btn-primary glyphicon glyphicon-arrow-right"
                                        (click)="addTeacher(teacher)" [disabled]="teacherInClass"></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card border-custom-01 text-center">
                        <div class="card-header text-white bg-custom-01">ASSIGNED</div>
                        <div class="card-body p-0">
                            <ul class="list-group">
                               <li *ngIf="teacherInClass"
                                    class="list-group-item d-flex justify-content-between align-items-center">
                                    <button class="btn btn-danger glyphicon glyphicon-trash"
                                        (click)="removeTeacher()"></button>
                                    <span>{{teacherInClass.id}} {{teacherInClass.surname}} {{teacherInClass.name}}</span>
                                </li>
                                <li *ngIf="!teacherInClass"
                                    class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>No teacher assigned </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="selectedClass && selectedSubject">
                <div class="col-md-3 offset-md-6 mt-3">
                    <button class="btn btn-secondary btn-block mb-1" (click)="cancel()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        CANCEL
                    </button>
                </div>
                <div class="col-md-3 mt-3">
                    <button class="btn btn-success btn-block mb-1" (click)="updateTeachingInClass()" [disabled]="!modified || !teacherInClass">
                        <span class="glyphicon glyphicon-ok"></span>
                        CONFIRM
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<app-modal (onConfirm)="doConfirm()"></app-modal>