<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>



    <div class="card border-custom-01 mt-5">
        <div class="card-header text-white bg-custom-01">STUDENTS ATTENDANCES</div>
        <div class="card-body text-dark">
            <div class="row mt-2 mb-2">
                <div class="col-md-6">
                    <label>Class</label>
                    <div *ngIf="!loadedClasses; else classesLoadedTag">
                        <loader-small></loader-small>
                    </div>
                    <ng-template #classesLoadedTag>
                        <select class="custom-select d-block w-100" [(ngModel)]="selectedClass"
                            (change)="loadStudents()">
                            <option hidden value="undefined">Select a class</option>
                            <option *ngFor="let class of classes" [ngValue]="class">{{class.name}}</option>
                        </select>
                    </ng-template>
                </div>
                <div class="col-md-6">
                    <label>Date</label>
                    <select class="custom-select d-block w-100" [(ngModel)]="selectedDate" (change)="loadStudents()">
                        <option hidden value="undefined">Select a date</option>
                        <option *ngFor="let date of validDates" [ngValue]="date">{{date}}</option>
                    </select>
                </div>

            </div>

            <div class="row mt-2 mb-5" *ngIf="loadedStudents">
                <div class="col-md-12 mt-5">
                    <div class="card border-custom-01">
                        <div class="card-header text-white bg-custom-01">STUDENTS</div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor="let attendance of studentsAttendance; let i = index">
                                            <td class="align-middle">{{attendance.studentName}}</td>
                                            <td class="align-middle">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="{{'present'+i}}" [(ngModel)]="attendance.present"
                                                        (change)="changePresentAttendance(attendance)">
                                                    <label class="custom-control-label" *ngIf="attendance.present"
                                                        for="{{'present'+i}}">present</label>
                                                    <label class="custom-control-label" *ngIf="!attendance.present"
                                                        for="{{'present'+i}}">absent</label>
                                                </div>
                                            </td>

                                            <td class="align-middle">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="{{'late'+i}}" [disabled]="!attendance.present"
                                                        [(ngModel)]="attendance.late"
                                                        (change)="lateCheckChange(attendance)">
                                                    <label class="custom-control-label" for="{{'late'+i}}">late</label>
                                                </div>
                                            </td>

                                            <td>
                                                <select class="custom-select d-block w-100"
                                                    [(ngModel)]="attendance.attendance1.timeslot"
                                                    [disabled]="!attendance.late" (change)="lateChanged(attendance)">
                                                    <option hidden [ngValue]="null">8</option>
                                                    <option *ngFor="let i of [9,10,11,12,13]" [ngValue]="i">{{i}}
                                                    </option>
                                                </select>

                                            </td>

                                            <td class="align-middle">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="{{'early'+i}}" [disabled]="!attendance.present"
                                                        [(ngModel)]="attendance.early">
                                                    <label class="custom-control-label" for="{{'early'+i}}">early
                                                        exit</label>
                                                </div>
                                            </td>

                                            <td>
                                                <select class="custom-select d-block w-100"
                                                    [(ngModel)]="attendance.attendance2.timeslot"
                                                    [disabled]="!attendance.early">
                                                    <option hidden [ngValue]="null">14</option>
                                                    <option *ngFor="let i of [9,10,11,12,13]" [ngValue]="i"
                                                        [disabled]="attendance.attendance1.timeslot >= i">{{i}}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-md-3 mt-3">
                            <button class="btn btn-secondary btn-block mb-1" (click)="cancelInsertedData()">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                CANCEL
                            </button>
                        </div>
                        <div class="col-md-3 ml-md-auto mt-3">
                            <button class="btn btn-success btn-block mb-1" (click)="insertAbsences()"
                                [disabled]="!selectedClass">
                                <span class="glyphicon glyphicon-ok"></span>
                                CONFIRM
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</ng-template>