<app-navbar (onSurprise)="doSurprise()"></app-navbar>

<div id="cont" class="container">
    <div *ngIf="secret" class="snow-container h-100">
        <div class="snow foreground"></div>
        <div class="snow foreground layered"></div>
        <div class="snow middleground"></div>
        <div class="snow middleground layered"></div>
        <div class="snow background"></div>
        <div class="snow background layered"></div>
    </div>
    <div id="main">
        <router-outlet></router-outlet>
    </div>
</div>

<footer class="py-4 bg-custom-01 text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; Politecnico di Torino</small>
    </div>
</footer>