#cont {
  min-height: 89.3vh;
}

#main {
  padding-bottom: 50px;
  padding-top: 115px;
}

footer {
  //position: relative;
  min-height: 10vh;
}

/******************/

.snow-container {
  position: fixed;
  width: 106vw;
  left: -6vw;
  right: 0;
  min-height: 100vh;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

$foreground-speed: 15s;
$middleground-speed: 20s;
$background-speed: 30s;

.snow {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transform: translate3d(0, -100%, 0);
  animation: snow linear infinite;
}
.snow.foreground {
  background-image: url("/assets/snow-01.png");
  animation-duration: $foreground-speed;
}
.snow.foreground.layered {
  animation-delay: $foreground-speed/2;
}
.snow.middleground {
  background-image: url("/assets/snow-02.png");
  animation-duration: $middleground-speed;
}
.snow.middleground.layered {
  animation-delay: $middleground-speed/2;
}
.snow.background {
  background-image: url("/assets/snow-03.png");
  animation-duration: $background-speed;
}
.snow.background.layered {
  animation-delay: $background-speed/2;
}

@keyframes snow {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(15%, 100%, 0);
  }
}