<div *ngIf="!loaded; else mainBlock">
  <loader-main></loader-main>
</div>
<ng-template #mainBlock>
  <div class="card border-custom-01">
    <div class="card-header text-white bg-custom-01">Grades of {{student.name}} {{student.surname}}</div>
    <div class="card-body text-dark">

      <div *ngFor="let grades of gradesArray; let i = index" class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <button class="btn btn-outline-primary btn-lg btn-block" (click)="hidden[i]=!hidden[i]">
            {{grades.subject}} - Teacher : {{grades.teacher}} - Average : {{grades.average}}
          </button>
          <div *ngIf="!hidden[i]">

            <div class="row d-flex justify-content-center mt-3">
              <div class="col-md-12">
                <my-table [data]="grades.grades" [settings]="gradeSettings"></my-table>
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div *ngIf="gradesArray.length == 0">
        <tr>
          <td colspan="3" class="no-data-available">No data available</td>
        </tr>
      </div>

    </div>
  </div>
</ng-template>